{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<section class="flex flex-center align-center">
    <h1 class="text-wrapper">Products Controller</h1>
</section>
{% endblock %}
