{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}

<section class="flex flex-center align-center">
    <h1 class="text-wrapper">Homepage Controller</h1>
</section>

{% endblock %}
