{% extends 'base.html.twig' %}

{% block title %}Hello GalleryManagementController!{% endblock %}

{% block body %}
<section class="flex flex-center align-center">
    <h1 class="text-wrapper">Add an item to the gallery</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
</section>
{% endblock %}
